body {
  background-color: #494036;
  padding-bottom: 70px;
}
.title {
  color: #f3e9dc;
  cursor: default;
  font-family: 'Cormorant SC', cursive;
  font-size: 60px;
  text-align: center;
}
.main {
  margin-top: 30px;
}
.main .main__random {
  color: #ed6a5a;
  font-size: 20px;
  font-weight: bold;
}
.main .main__random:hover {
  color: #f08578;
}
.main .main__group {
  margin: 20px 0;
}
.main .main__input {
  opacity: 0.8;
}
.main .main__button {
  background-color: #ed6a5a;
  border: 0;
  color: #f3e9dc;
}
.main .main__button:hover {
  background-color: #f08578;
  color: #f3e9dc;
}
.result {
  display: none;
}
.result .result__item {
  background-color: #d8d3c0;
  border-radius: 8px;
  margin: 5px 0;
}
.result .result__title > a {
  color: #ed6a5a;
  font-family: 'Cormorant SC', cursive;
  font-weight: bold;
}
.footer__wrap {
  background-color: #c2574a;
  padding: 15px 15px;
}
.footer__wrap .footer__text {
  color: #f3e9dc;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}
