$bg-color = #494036
$button-color = #ed6a5a
$font-color = #F3E9DC
$footer-color = #c2574a
$link-hover-color = #f08578
$result-title-color = #2a7a9c
$result-color = #d8d3c0

$title-font = 'Cormorant SC', cursive
$result-title-font = 'Roboto', sans-serif

body {
    background-color: $bg-color
    padding-bottom: 70px
}

.title {
    color: $font-color
    cursor: default
    font-family: $title-font
    font-size: 60px
    text-align: center
}

// MAIN -> Contains the search input field, random page link and search button

.main {
    margin-top: 30px;
    
    .main__random {
        color: $button-color
        font-size: 30px
        font-weight: bold
    }

    .main__random:hover {
        color: $link-hover-color
    }

    .main__group {
        margin: 20px 0
    }

    .main__input {
        opacity: 0.8
    }

    .main__button {
        background-color: $button-color
        border: 0
        color: $font-color
    }

    .main__button:hover {
        background-color: $link-hover-color
        color: $font-color
    }
}


// RESULT -> Section for search results (Automatically inserted Divs)
.result {
    
    .result__section {
        display: none
    }
    
    .result__item {
        background-color: $result-color;
        border-radius: 5px
        margin: 5px 0
    }

    .result__title > a {
        color: $result-title-color
        font-family: $result-title-font
        font-weight: bold
    }

    .result__error {
        color: $font-color
        text-align: center
    }

}

.loading {
    color: $font-color
    display: none
    text-align: center
}

.footer__wrap {
    background-color: $footer-color
    padding: 15px 15px

    .footer__text {
        color: $font-color
        font-weight: bold
        margin: 0 auto
        text-align: center
    }
}